main {
  /* background-color: #afc6e9; */
  background-color: whitesmoke;
  color: black;
  overflow-x: hidden;
}

.name-svg {
  display: flex;
}

h1 {
  text-align: center;
  margin: auto;
  padding: 50px;
  flex-basis: auto;
  /* position: fixed; */
  /* top: 100; */
}

h2 {
  text-align: center;
  margin: auto;
  /* padding: 50px; */
  flex-basis: auto;
  /* position: fixed; */
  /* top: 100; */
}

div {
  justify-content: center;
}

.old-standard-tt-regular-italic {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 120px;
}

.old-standard-tt-regular-italic-small {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 40px;
}

img {
  max-width:100%;
  margin: auto;
  display: block;
  /* max-height:100%; */
}

p {
  font-size: 20px;
  /* text-align: left; */
  /* color: white; */
  /* background-color: black;
  opacity: 0.5;
  display:inline-block;
  border-radius: 5px;
  padding:0px 10px */
}

a:link {
  /* padding: 0 10px; */
  text-decoration: none!important;
  color: black;
}

#icons {
  display: flex;
  padding: 10px;
  gap: 10px;
}

#navbar {
  z-index: 1;
  overflow: hidden;
  background-color: whitesmoke;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

g {
  fill: red;
}

.term-icon {
  float: left;
  /* display: flexbox; */
  /* margin: 0 0 0 10%; */
}

.wealthwizard {
  text-align: left;
  padding: 30px 0px 0px 0px;
  margin: 0;
  /* background-color: color-mix(in srgb, yellow 20%, black ); */
}

span.winner {
  color: rgb(239, 209, 38);
  text-decoration:  underline;
}
