main {
  /* background-color: #afc6e9; */
  background-color: rgb(214, 230, 248); /*blue*/
  /* background-color: rgb(250, 162, 121); */
  /* color: rgb(40, 30, 33); */
  color: black;
  overflow-x: hidden;
  /* font-family: "Lucida Console", "Courier New", monospace; */
  /* font-family: "DM Sans", sans-serif; */
  /* font-optical-sizing: auto; */
  font-weight: 250;
  font-style: normal;
}

#navbar {
  z-index: 1;
  overflow: hidden;
  background-color: rgb(196, 220, 247);
  /* background-color: rgb(255, 123, 123); */
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.svg {
  display: flex;
  padding: 20px;
}

.svg-name {
  animation: fadeIn 5s;
} 

.stars {
  /* fill: black; */
  /* stroke: black; */
  margin: auto;
  display: flex;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

h1 {
  text-align: center;
  margin: auto;
  padding: 50px;
  flex-basis: auto;
}

h2 {
  text-align: center;
  margin: auto;
  flex-basis: auto;
}

div {
  justify-content: center;
}

.old-standard-tt-regular-italic {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 120px;
}

.old-standard-tt-regular-italic-small {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 40px;
}

img {
  max-width:100%;
  margin: auto;
  display: block;
  /* max-height:100%; */
}

p {
  font-size: 20px;
}

a:link {
  /* padding: 0 10px; */
  text-decoration: none!important;
  color: black;
}

#icons {
  display: flex;
  padding: 10px;
  gap: 10px;
}

/* stars styling */
g {
  fill: black;
}

/* animation: move2 3s alternate-reverse infinite; */
.star1, .star2 {
  transform-origin: 50% 50%; /* Set the pivot point to the center of the stars */
}

.star1 {
  animation: swing1 5s infinite alternate;
  translate: 0px 30px 0;
}

.star2 {
  animation: swing2 5s infinite alternate;
  translate: 20px 30px 0;
}

#left-star {
  fill: rgb(249, 224, 133);
  stroke: rgb(248, 208, 13);
  stroke-width: 10px;
  stroke-dasharray: var(--ls-length);
  stroke-dashoffset: var(--ls-length);
  animation: strokeAnimation 5s linear infinite; 
}

#right-star {
  fill: rgb(249, 224, 133);
  stroke: rgb(248, 208, 13);
  stroke-width: 10px;
  stroke-dasharray: var(--rs-length);
  stroke-dashoffset: var(--rs-length);
  animation: strokeAnimation 5s linear infinite; 
}

#left-face {
  stroke: 0.1;
}

@keyframes strokeAnimation {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes swing1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg); /* Slight rotation to the right */
  }
  100% {
    transform: rotate(2deg); /* Back to original position */
  }
}

@keyframes swing2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg); /* Slight rotation to the left */
  }
  100% {
    transform: rotate(2deg); /* Back to original position */
  }
}

.term-icon {
  float: left;
}

.wealthwizard {
  text-align: left;
  padding: 30px 0px 0px 0px;
  margin: 0;
}

span.winner {
  color: rgb(239, 209, 38);
  text-decoration:  underline;
}
